<div class="header">
  <app-header></app-header>
</div>
<div class="content">
  <div>
    teste teste teste
    <button (click)="testeAbc()">ae</button>
    <div class="characters-wrapper">
      <div *ngFor="let character of characters" class="character-card">
        <img src="{{character['thumbnail']['path']}}.{{character['thumbnail']['extension']}}" width="200" height="325">
        <div>
          Name: {{character['name']}}
          Id: {{character['id']}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>